@page "/a"
@page "/aindex"
@* @page "/index/{searchTerm}" *@

@rendermode InteractiveServer
@attribute [StreamRendering]

<PageTitle>@_title</PageTitle>

<style>
    .section {
        padding: 20px 0;
    }

    .default-img {
        transition: transform 0.3s ease;
    }

        .default-img:hover {
            transform: scale(1.1);
        }

    select {
        width: 100%;
        padding: 5px;
    }

    .row {
        width: 100%;
    }

    .search .button {
        position: absolute;
        /* right: 0;
        top: 0; */
        height: 44px;
        width: 50px;
        line-height: 45px;
        box-shadow: none;
        text-shadow: none;
        text-align: center;
        border: none;
        font-size: 14px;
        color: #fff;
        background: #333;
        -webkit-transition: all 0.4sease;
        -moz-transition: all 0.4s ease;
        transition: all 0.4sease;
    }

    .search input {
        width: 100%;
        height: 45px;
        box-shadow: none;
        text-shadow: none;
        font-size: 14px;
        border: none;
        color: #222;
        background: transparent;
        padding: 0 70px 0 20px;
        -webkit-transition: all 0.4sease;
        -moz-transition: all 0.4s ease;
        transition: all 0.4sease;
        border-radius: 0;
        border: 1px solid #eee;
    }
</style>

<!-- Product Style -->
<section class="product-area shop-sidebar shop section">
    <div class="container-fluid">
        <div class="row">

            <div class="row">
                <div class="col-12">

                    <!-- Shop Top -->
                    <div class="shop-top">
                        <div class="shop-shorter">
                            <div class="single-shorter">
                                <label>Kategorier :</label>
                                <select @onchange="selectedCategory">
                                    <option value="" selected disabled>Kategorier</option>
                                    <option value="">Alla</option>

                                    @foreach (var item in _categories)
                                    {
                                        <option value="@item">@item</option>
                                    }
                                </select>
                            </div>
                            <div class="single-shorter">
                                <label>Tillverkare :</label>
                                <select @onchange="selectedManifacturer">
                                    <option value="" selected disabled>Tillverkare</option>
                                    <option value="">Alla</option>

                                    @foreach (var item in _manifacturers ?? new())
                                    {
                                        <option value="@item">@item</option>
                                    }
                                </select>
                            </div>

                            <div class="single-shorter">
                                <label>Sortera efter :</label>
                                <select @onchange="selectedSortBy">
                                    <option selected="selected">Name</option>
                                    <option>Price</option>
                                    <option>Size</option>
                                </select>
                            </div>

                            <div class="single-shorter">
                                <div class="single-widget search">
                                    <input @bind-value="@_searchTerm" placeholder="Produkt / Service sökning....." type="text" style="width:100%">
                                    <button class="button" @onclick="@(async() => await load())"><i class="fa fa-search"></i></button>
                                    @* <a class="button" href="#"><i class="fa fa-search"></i></a> *@
                                </div>
                            </div>
                            @* <div class="single-shorter">
                                <label>Show :</label>
                                <select>
                                    <option selected="selected">09</option>
                                    <option>15</option>
                                    <option>25</option>
                                    <option>30</option>
                                </select>
                            </div> *@
                        </div>
                        @*  <ul class="view-mode">
                                <li class="active"><a href="shop-grid.html"><i class="fa fa-th-large"></i></a></li>
                                <li><a href="shop-list.html"><i class="fa fa-th-list"></i></a></li>
                            </ul> *@
                    </div>
                    <!--/ End Shop Top -->
                </div>
            </div>

            <div class="row">

                @foreach (var item in _items)
                {
                    <div class="col-lg-2 col-md-3 col-6">
                        <div class="single-product">
                            <div class="product-img">
                                <a href="product/@item.Id">
                                    <img class="default-img" src="@item.ImageUrl" alt="@item.Name">
                                    @if (item.PercentOff != 0)
                                    {
                                        <span class="price-dec">30% Off</span>
                                    }
                                    else if (item.IsHot)
                                    {
                                        <span class="out-of-stock">Hot</span>
                                    }
                                    else if (item.IsHot)
                                    {
                                        <span class="new">New</span>
                                    }
                                </a>
                                @* <div class="button-head">
                                        <div class="product-action">
                                            <a title="Quick View" href=""><i class=" ti-eye"></i><span>Quick View</span></a>
                                            <a title="Wishlist" href=""><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
                                         <a title="Compare" href=""><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
                                        </div>
                                        <div class="product-action-2">
                                            <a title="Add to cart" href="">Add to cart</a>
                                        </div>
                                    </div> *@
                            </div>
                            <div class="product-content text-center">
                                <h3><a href="product/@item.Id">@item.Name</a></h3>
                                <div class="product-price">
                                    <p>@item.Category</p>
                                    <span>@item.Price.ToString("c")</span>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>

        </div>
    </div>
</section>
<!--/ End Product Style 1  -->
<!-- Start Shop Newsletter  -->
<section class="shop-newsletter section">
    <div class="container-fluid">
        <div class="inner-top">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-12">
                    <!-- Start Newsletter Inner -->
                    <div class="inner">
                        <h4>Newsletter</h4>
                        <p> Subscribe to our newsletter and get <span>10%</span> off your first purchase</p>
                        <form action="mail/mail.php" method="get" target="_blank" class="newsletter-inner">
                            <input name="EMAIL" placeholder="Your email address" required="" type="email">
                            <button class="btn">Subscribe</button>
                        </form>
                    </div>
                    <!-- End Newsletter Inner -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Shop Newsletter -->

<_HowTo />

@code {
    // [Parameter] public string? SearchTerm { get; set; }

    private ApplicationDbContext _db => Service;
    private string _title = "Hem";
    private IQueryable<Product> _query = default!;
    private List<Product> _items = new();
    private List<string> _categories = new();
    private string? _selectedCategory;
    private List<string>? _manifacturers = new();
    private string? _selectedManifacturer;
    private string? _selectedSortBy;
    private int _page = 1;
    private int _pageSize = 100;
    private string? _searchTerm;

    protected override async Task OnInitializedAsync()
    {
        _query = _db.Products
            .AsNoTracking()
            .AsQueryable();

        _categories = await _query.Select(x => x.Category).Distinct().ToListAsync();
        _manifacturers = await _query.Select(x => x.Manifacturer!).Distinct().ToListAsync();
        // _items = await _query
        //     .Skip((_page - 1) * _pageSize)
        //     .Take(_pageSize)
        //     .OrderByDescending(x => x.Id)
        //     .ToListAsync();

        await load();
    }

    // protected override async Task OnParametersSetAsync()
    // {
    //     if (string.IsNullOrEmpty(SearchTerm) == false)
    //     {
    //         await load();
    //     }
    // }

    private async Task load()
    {
        _items = await _query
            .Where(x =>
                (
                    string.IsNullOrEmpty(_searchTerm) || 
                    x.Name.Contains(_searchTerm.Trim().ToLower()) ||
                    x.Price.ToString().Contains(_searchTerm.Trim().ToLower()) ||
                   x.Category.ToLower().Contains(_searchTerm.Trim().ToLower())
                ) &&
                (string.IsNullOrEmpty(_selectedCategory) || x.Category == _selectedCategory) &&
                (string.IsNullOrEmpty(_selectedManifacturer) || x.Manifacturer == _selectedManifacturer)
            )
            .Skip((_page - 1) * _pageSize)
            .Take(_pageSize)
            .OrderByDescending(x => x.Id)
            .ToListAsync();
    }

    private async Task selectedCategory(ChangeEventArgs e)
    {
        if (e.Value is not null)
        {
            _selectedCategory = (string)e.Value;

            await load();
        }
    }

    private async Task selectedManifacturer(ChangeEventArgs e)
    {
        if (e.Value is not null)
        {
            _selectedManifacturer = (string)e.Value;

            await load();
        }
    }

    private async Task selectedSortBy(ChangeEventArgs e)
    {
        if (e.Value is not null)
        {
            _selectedSortBy = (string)e.Value;

            await load();
        }
    }

}