@implements IDisposable
@rendermode InteractiveServer

@inject IHttpClientFactory HttpClientFactory

<style>
    .nav-link {
        padding: 10px 5px;
    }

    .nav-link,
    #navbarSupportedContent a,
    footer > ul > li > a.text-body-secondary {
        background-color: #FFFFFF;
        color: black;
    }

        .nav-link:hover,
        #navbarSupportedContent a:hover,
        footer > ul > li > a.text-body-secondary:hover {
            background-color: darkorange;
            color: white;
        }
</style>

<nav class="navbar navbar-expand-lg fixed-top bg-white">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="/images/logo.png" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <NavLink class="nav-link" href="/" Match="NavLinkMatch.All"><i class="bi bi-house"></i> Hem</NavLink>
                </li>

                <li class="nav-item">
                    <NavLink class="nav-link" href="products"><i class="bi bi-boxes"></i> Produkter</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="companies"><i class="bi bi-houses"></i> Företag</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="services"><i class="bi bi-airplane"></i> Services</NavLink>
                </li>

                @* common *@
                <AuthorizeView>
                    <Authorized>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="javascript:void(0);" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Produkter
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="admin/products"><i class="bi bi-boxes"></i> Produkter</a></li>
                                @* <li><a class="dropdown-item" href="admin/orders"><i class="bi bi-box2-heart"></i> Orders</a></li> *@
                                @if (_currentUser.IsInRole(Constants.Role_Admins))
                                {
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="admin/categories">Categories</a></li>
                                }
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="javascript:void(0);" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Marketing
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="admin/subscriptions"><i class="bi bi-megaphone"></i> Prenumerationer</a></li>
                            </ul>
                        </li>
                    </Authorized>
                </AuthorizeView>

                <AuthorizeView Roles="@Constants.Role_CompanyAdmins">
                    <Authorized>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="admin/products"><i class="bi bi-boxes"></i> Företagets Produkter</NavLink>
                        </li>
                    </Authorized>
                </AuthorizeView>

                <AuthorizeView Roles="@Constants.Role_Admins">
                    <Authorized>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="admin/companies">
                                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Companies
                            </NavLink>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="javascript:void(0);" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Auth
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="admin/users">Users</a></li>
                                <li><a class="dropdown-item" href="admin/roles">Roles</a></li>
                            </ul>
                        </li>

                        @* <li class="nav-item">
                            <NavLink class="nav-link" href="auth">
                                <span class="bi bi-lock-nav-menu" aria-hidden="true"></span> Auth Required
                            </NavLink>
                        </li> *@
                    </Authorized>
                </AuthorizeView>

                <li class="nav-item">
                    <NavLink class="nav-link" href="contact"><i class="bi bi-headset"></i> Kontakt</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="about"><i class="bi bi-info-square"></i> Om oss</NavLink>
                </li>
            </ul>

            <div class="d-flex me-auto" role="search" title="Sök">
                <input class="form-control" id="floatingInputSearch" placeholder="Sök Produkter" @bind-value="@_searchTerm" @onkeydown="handleKeyDown" style="width:280px;">
                <button class="btn btn-warning text-light mx-1" @onclick="search"><i class="bi bi-search"></i></button>
                @* <div class="form-floating">
                    <input class="form-control" id="floatingInputSearch" placeholder="" @bind-value="@_searchTerm" @onkeydown="handleKeyDown" style="width:280px;">
                    <label for="floatingInputSearch" class="form-label">Sök Produkt</label>
                </div> 
                <button class="btn btn-warning text-light mx-1" style="width:60px;" @onclick="search"><i class="bi bi-search"></i></button>
                *@
            </div>

            @* <div class="d-flex mx-1">
                <span class="nav-link">
                    <span class="bi bi-geo-alt" aria-hidden="true"></span> xxx
                </span>
            </div> *@
            <AuthorizeView>
                <Authorized>

                    <div class="d-flex mx-1">
                        <a class="nav-link" href="">
                            <span class="bi bi-person" aria-hidden="true"></span> Välkommen @context.User.Identity?.Name
                        </a>
                    </div>

                    <div class="d-flex mx-1">
                        <form action="/Account/Logout" method="post">
                            <AntiforgeryToken />
                            <input type="hidden" name="ReturnUrl" value="@_currentUrl" />
                            <button type="submit" class="nav-link"><i class="bi bi-box-arrow-right"></i> Logga ut</button>
                        </form>
                    </div>
                </Authorized>
                <NotAuthorized>
                    <div class="d-flex mx-1">
                        <NavLink class="nav-link" href="companyregister"><i class="bi bi-person-plus"></i> Registrera Företag</NavLink>
                    </div>
                    <div class="d-flex mx-1">
                        <NavLink class="nav-link" href="account/Login"><i class="bi bi-box-arrow-in-right"></i> Logga in</NavLink>
                    </div>
                </NotAuthorized>
            </AuthorizeView>

        </div>
    </div>
</nav>

@code {
    private string? _currentUrl;
    private ClaimsPrincipal _currentUser = default!;
    private string _searchTerm = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        _currentUser = (await _authenticationStateProvider!.GetAuthenticationStateAsync()).User;

        _currentUrl = _navigationManager.ToBaseRelativePath(_navigationManager.Uri);
        _navigationManager.LocationChanged += OnLocationChanged;
    }

    private async Task HandleLogout()
    {
        var url = new Uri(new Uri(_navigationManager.BaseUri), "/account/LogOut").ToString();
        var data = new Dictionary<string, string>();
        await PostPageAsync(url, data);
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        _currentUrl = _navigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        _navigationManager.LocationChanged -= OnLocationChanged;
    }

    private async Task<string> PostPageAsync(string url, IDictionary<string, string> data)
    {
        var content = new FormUrlEncodedContent(data);

        using (var client = new HttpClient())
        {
            var response = await client.PostAsync(url, content);

            if (response.IsSuccessStatusCode)
            {
                var responseBody = await response.Content.ReadAsStringAsync();
                return responseBody;
            }

            return response.StatusCode.ToString();
        }
    }

    private void handleKeyDown(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            search();
        }
    }

    private void search()
    {
        // if (!string.IsNullOrWhiteSpace(_searchTerm))
        // {
        _navigationManager.NavigateTo($"/products/{_searchTerm}");
        // }
    }

}

